<div class="page-header">
  <h1>Connections</h1>
</div>
<%= if @connections.empty? then "There is no connections" end %>
<br>
<table class="table table-hover">

  <thead class=""> 
    <tr>
      <td>id</td>
      <td>customer_id</td>
      <td>provider_name</td>
      <td>status</td>
      <td>accounts</td>
      <td>more info</td>
    </tr>
  </thead>

  <tbody>
    <% @connections.each do |connection| %>
      <tr>
        <td>  <%= connection.id %> </td>
        <td> <%= connection.customer_id %> </td>
        <td> <%= connection.provider_name %></td>
        <td> <%= connection.status %></td>
        <td> <%= link_to "link", connection_accounts_path(connection.id) %></td>
        <td> <%= link_to "more", connection_path(connection.id) %> </td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= link_to "add connection", new_connection_path, class:"btn btn-info" %>
