<h1>Transactions</h1>

<table class="table table-hover"> 

  <thead>
    <tr>
      <td>id</td>
      <td>made_on</td>
      <td>category</td>
      <td>description</td>
      <td>amount</td>
      <td>more </td>
    </tr>
  </thead>
  
  <tbody>
    <% @transactions.each do | transaction | %>
      <tr>
        <td> <%= transaction.id %> </td>
        <td> <%= transaction.made_on %> </td>
        <td> <%= transaction.category %> </td>
        <td> <%= transaction.description %> </td>
        <td> <%= transaction.amount %> </td>
        <td> <%= link_to "more", connection_account_transaction_path(@connection_id, @account_id, transaction.id) %>
        </td>
      </tr>
    <%  end %>
  </tbody>

</table>
